{% extends 'basic.html' %}
{% block title %} My Job List {% endblock %}

{% block css %}
<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #d6d6d6;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    * {
        -webkit-transition: 0.2s;
        transition: 0.2s;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .list {
        background-color: #f3f3f3;
        padding: 1px 20px;
        border-radius: 4px;
        margin: 20px;
        width: 80%;
        height: 200px;
        cursor: pointer;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2.5px 5px 0 rgba(0, 0, 0, 0.19);
        position: relative; /* Ensure the container is positioned relative */
    }

    .list:hover {
        background-color: #fafafa;
        transform: scale(1.05);
    }

    h2 {
        color: rgb(90, 90, 90);
    }

    h4 {
        color: rgb(110, 110, 110);
    }

    .list:hover hr {
        background-color: aqua;
    }

    .expire_date {
        font-weight: 400;
    }

    .responsive {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .delete-btn {
        background-color: #ff0000; /* Red color */
        margin-top: 10px; /* Add margin to separate from the job title */
        border: none;
        border-radius: 20px; /* Increase border-radius for a more rounded appearance */
        padding: 6px 12px; /* Adjust padding to make the button smaller */
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out; /* Add transition for smooth hover effect */
    }

    .delete-btn:hover {
        background-color: #cc0000; /* Darker red on hover */
    }

</style>
{% endblock %}

{% block body %}
<div class="responsive">
    {% if joblist %}
        {% for job in joblist %}
            <div class="list">
                <a href="{% url 'edit_job' job_id=job.id comp_id=comp_id %}" style="text-decoration: none;">
                    <h2>{{job.title}}</h2><hr>
                    <h4>located at {{job.location}}</h4>
                    <h4 class="expire_date">Expires on {{job.time_date}}</h4>
                </a>
                <form action="{% url 'delete_job' job.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h1 style="color: #585858; margin-top: 200px;">There is no content available for display at this time.</h1>
    {% endif %}
</div>

{% endblock %}
