{% extends 'basic.html' %}
{% block title %} Company Login {% endblock %}
{% block company_login %} active {% endblock %}

{% block css %}

.gradient-custom {
background: #6a11cb;

background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
background: linear-gradient(to left, #0a0700, rgb(144, 19, 228));
}

{% endblock %}

{% block body %}

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 ">

            <div class="mb-md-5 mt-md-4 pb-2">
              <form method="POST">
                {% csrf_token %}

              <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
              <p class="text-white-50 mb-5 text-center">Please enter your email and password!</p>

              <div class="form-outline form-white mb-4">
                <label class="form-label text-start" for="typeEmailX">Email</label>
                <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email"/>
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label text-start" for="typePasswordX">Password</label>
                <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password"/>
              </div>
              <div class="text-center">
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </div>
              </form>
            </div>

            <div>
              <p class="mb-0 text-center">Don't have an account? <a href="/internship-finder/company_registration/" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}